"*":
  "atom-beautify":
    general:
      _analyticsUserId: "f0108c3b-e4b9-4ef8-9ab2-44330caa359d"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "imdone-atom"
      "language-slim"
      "language-haml"
      "simple-drag-drop-text"
      "background-tips"
      "whitespace"
      "archive-view"
      "about"
      "autoflow"
      "bookmarks"
      "welcome"
      "atom-typescript"
      "atom-jade"
      "atom-beautify"
      "language-pug"
      "minimap-highlight-selected"
      "symbols-view"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Operator Mono"
    fontSize: 16
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "anonymousId"
  "file-icons":
    forceShow: true
    onChanges: true
  linter:
    lintOnFlyInterval: 1500
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui":
    layoutMode: "Compact"
  pigments:
    markerType: "dot"
  welcome:
    showOnStartup: false
